@import '../../semantic-ui/site/globals/site.variables';


.ui.container.login {
  height: 100%;
  width: 100% !important;
  margin: 0 !important;
  display: flex;
  flex-flow: column wrap;
  background-color: @primaryColor;

  > div {
    flex-grow: 1;
    display: flex;

    .card {
      align-self: center;
      margin-left: auto;
      margin-right: auto;
      min-width: 600px;
  
      @media (max-width: @tabletBreakpoint) {
        margin-left: @margin-abr; 
        margin-right: @margin-abr;
        min-width: auto;
        width: 100%;
      }
  
    }
  }

}