/*******************************
     User Global Variables
*******************************/
@import './site.variables';

@primaryColor: #1bb99a;
@secondaryColor: #1082be;

@header-menu-color: @primaryColor;