/*******************************
     User Global Variables
*******************************/
@import '~semantic-ui-less/themes/default/globals/site.variables';

@primaryColor: #1082be;
@secondaryColor: #1bb99a;
@pageBackground: #eff0f1;
@fontName: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

// Margins
@margin-jan: 0.5em;
@margin-feb: 1em;
@margin-mar: 1.2em;
@margin-abr: 1.6em;
@margin-mai: 1.6em;
@margin-jun: 1.8em;
@margin-jul: 2em;
@margin-ago: 3em;
@margin-set: 4em;
@margin-out: 5em;

// Padding
@padding-jan: @margin-jan;
@padding-feb: @margin-feb;
@padding-mar: @margin-mar;
@padding-abr: @margin-abr;
@padding-mai: @margin-mai;
@padding-jun: @margin-jun;
@padding-jul: @margin-jul;
@padding-ago: @margin-ago;
@padding-set: @margin-set;
@padding-out: @margin-jul;

// Menus
@header-menu-height: 75px;
@header-menu-color: @primaryColor;
@left-menu-width: 400px;
@left-menu-color: white;
@footer-color: #222;