.author {
  color: white;
  bottom: 0;
  padding: 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #222;
  z-index: 1;

  a {
    color : white;
    text-decoration: underline;
  }

}