@import '../../../semantic-ui/site/globals/site.variables';

header {
  height: @header-menu-height;
  background-color: @header-menu-color;
  display: flex;
  flex-flow: column wrap;
  width: 100%;

  @media (max-width: @tabletBreakpoint) {
    align-content: space-between;
  }

  h1.logo {
    font-size: medium;
    width: @left-menu-width;
    text-align: center;
    margin: 0;
    a {
      color: white;
      line-height: @header-menu-height;
      padding: 1em;
    }

    @media (max-width: @tabletBreakpoint) {
      width: auto;
    }
  }

  .right-menu-items {
    align-self: flex-end;
    flex-grow: 1;
    padding: @padding-feb;
    display: flex;
    align-items: center;

    a {
      color: white
    }
  }

  div.toggle-menu {
    display: none;
    align-self: flex-start;
    flex-grow: 1;
    padding: @padding-feb;
    a {
      color: white;
    }
    align-items: center;

    @media (max-width: @tabletBreakpoint) {
      display: flex;
    }

  }


  
}