@import '../../../semantic-ui/site/globals/site.variables';

aside {
  width: @left-menu-width;
  min-width: @left-menu-width;
  background-color: @left-menu-color;
  padding: @padding-mar;
  box-shadow: 1px 2px 2px 0px #d4d4d5, 0px 0px 0px 0px #d4d4de;
  display: flex;
  flex-flow: row wrap;

  @media (max-width: @tabletBreakpoint) {
    position: absolute;
    z-index: 1;
    display: none;
    height: 100%;
    width: 100%;
    min-width: auto;
    &.open {
      display: flex;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav.menu-items {
    flex-basis: 100%;
    li {
      display: flex;
      flex-flow: column wrap;
      width:  100%;
      cursor: pointer;
      padding: @padding-jan;

      a {
        color: #555;
        padding-right: @padding-mar;
      }
      
      i.icon.angle {
        align-self: flex-end;
        position: absolute;
        color: #555;
      }

      &.active {
        a, i.icon.angle {
          color: @secondaryColor;
        }
      }

      &:hover {
        a, i.icon.angle {
          color: darken(@secondaryColor, 5%);
        }
      }

      &.disabled {
        cursor: not-allowed;
        a, i.icon.angle {
          cursor: not-allowed;
          color: darken(@pageBackground, 30%);
        }
      }

    }
    
  }

  nav.user-info {
    flex-basis:  100%;
    align-self: flex-end;
    li {
      max-width: calc(@left-menu-width - 2*@padding-mar);
      color: @primaryColor;
      display: flex;

      div.user-name {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex-grow: 1;
      }

      div.user-type {
        white-space: nowrap;
      }

    }
  }
  
}