@import '../../../semantic-ui/site/globals/site.variables';

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-basis: 100%;

  .content {
    flex-grow: 1;
    padding: @padding-mar;
  }

  @media (max-width: @tabletBreakpoint) {
    position: relative;
  }

}