@import 'semantic-ui/site/globals/site.variables';

#root {
  height: 100%;
  width: 100%;
}


.ui.card.cardContent {
  width: 100%;
  height: 100%;

  .content {
    flex-grow: 0;
  }

  .title {
    font-weight: bold;
    margin-top: @margin-mai;
  }
}